<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Alert | Home</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
</head>
<body>
<nav class="ui inverted attached segment">
	<div class="ui container">
		<div class="ui inverted secondary menu">
			<h2 class="ui teal header item">Alert</h2>
			<div class="right item">
				<div sec:authorize="isAuthenticated()">
					<a href="user" class="item"><i class="user icon"></i><span sec:authentication="name"></span></a>
				</div>
				<div sec:authorize="isAuthenticated()">
					<a href="#" th:href="@{/logout}" class="item"><i class="sign out icon"></i></a>
				</div>
			</div>
		</div>
	</div>
</nav>


<div  class="ui text container">
<br/>
<br>
<div>
	<h2>All items</h2>
	

	<div class="ui middle aligned divided list">
	  <div class="item" th:each="item : ${items}">
	    <div class="right floated content">
	    	<span th:if="${item.user} == ${name}">	    	
				<a th:href="@{/toEdit(id=${item.id})}"><i class="edit icon"></i></a>
            	<a th:href="@{/delete(id=${item.id})}"><i class="trash icon"></i></a>
	    	</span>
	    		<i class="user icon"></i><span th:text="${item.user}"></span>
   	    </div>
	    <i class="teal circle icon"></i>
	    <div class="content">
	    	<div class="header" th:text="${item.message}"></div>
				<span class="ui teal basic label">
					<i class="bell outline icon"></i><span th:text="${item.date}"></span>
				</span>
				<span class="ui teal basic label" th:if="${item.repeat}" >
					<span th:text="${list[item.repeat]}"></span>
				</span>
			</div>
	  </div>
	</div>
	
	<a href="/toAdd" th:href="@{/toAdd}" class="ui teal button">add</a>

	<div class="ui info mini message">
	  <i class="close icon"></i>
	  <div class="header">
	    説明：
	  </div>
	  <ul class="list">
		<li>指定された日の朝８時に Email でアラートのメッセージを送信します。</li>
		<li>送信後、繰り返しがかかっていないメッセージは自動的にデータベースから削除されます。</li>
		<li>繰り返しのかかっているメッセージは次の予定日に設定されます。</li>
	  </ul>
	</div>

</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script type="text/javascript">
$('.message .close')
.on('click', function() {
  $(this)
    .closest('.message')
    .transition('fade')
  ;
})
;
</script>
</body>
</html>